{% extends 'core/base.html' %}

{% block home %}
<h1 class="contact">Contact Me</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <i class="fa fa-map-marker i-color fa-3x" aria-hidden="true"></i>
                    <h4>Lahore, Pakistan</h4>
                </div>
                <div class="col-md-12 text-center">
                    <i class="fa fa-phone i-color fa-3x" aria-hidden="true"></i>
                    <h4>+92 323 8883647</h4>
                </div>
                <div class="col-md-12 text-center">
                    <i class="fas fa-envelope i-color fa-3x" aria-hidden="true"></i>
                    <h4>mukarram_javid@yahoo.com</h4>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <form action="">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <input type="button" value="Send" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 text-center footer">
    <a href="https://www.facebook.com/hafizj1125" target="_blank"><i class="fab fa-facebook i-color fa-2x"></i></a>
    <a href="https://twitter.com/hafizj1125/" target="_blank"><i class="fab fa-twitter i-color fa-2x"></i></a>
    <a href="https://www.instagram.com/chachuj1125/" target="_blank"><i class="fab fa-instagram i-color fa-2x"></i></a>
    </div>
    </div>

</div>
{% endblock home %}