<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="img panel-title"></h3>
        <h4 class="dn st_font">Mukaram Javid</h4>
    </div>
    <div class="panel-body">
        <nav class="nav text-center flex-column">
            <li>
                <a href="/" class="nav-link {{home}}">Home</a>
                <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
                <a href="{% url 'skills' %}" class="nav-link {{skill}}">Skills</a>
                <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
            </li>
        </nav>
    </div>
</div>